<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>About our store</h2>
            <p>The store was founded in 2011, and since then it won the “Best Plushie Store” award every year.</p>
            <div class="text-center">
                <img src="../../assets/feladat2.png" alt="Best Plushie Store award." class="img-fluid">
            </div>
            <h2>Famous plushies</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 ">
            <div class="col-10 offset-1 plushies">
                <h3>Daniel the Dinosaur</h3>
                <p>A large dinosaur by famous plushie maker John Plush.</p>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="col-10 offset-1 plushies">
                <h3>Ted</h3>
                <p>The first life-sized teddy bear in the country.</p>
            </div>
            
        </div>
        <div class="col-12 col-md-4 ">
            <div class="col-10 offset-1 plushies">
                <h3>Coffee Cat</h3>
            <p>A controversial plushie that promoted drinking coffee to aid web development.</p>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2> Provide feedback</h2>
            <form >
                <label class="form-label" for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control">
                <label class="form-label" for="feedback">Feedback</label>
                <textarea name="feedback" feedback="" cols="30" rows="10" class="form-control"></textarea>
                <button class="btn btn-primary my-2"> Submit </button>
            </form>
        </div>
    </div>
</div>

  



